altair==4.2.0
anyio==3.6.1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
attrs==22.1.0
Babel==2.10.2
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
bokeh==2.4.3
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854217904/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.2.0
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click==8.1.3
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1653061851209/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorcet==3.0.0
colorspacious==1.1.2
commonmark==0.9.1
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1652967302847/work
cvxpy @ file:///Users/runner/miniforge3/conda-bld/cvxpy-split_1652770683355/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz==0.11.2
darkdetect @ file:///home/conda/feedstock_root/build_artifacts/darkdetect_1653237700251/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1654898467425/work
datashader==0.14.0
datashape==0.5.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1632758190537/work
dipy @ file:///Users/runner/miniforge3/conda-bld/dipy_1647322989360/work
distributed==2022.6.0
ecos @ file:///Users/runner/miniforge3/conda-bld/ecos_1641390626679/work
EDFlib-Python @ file:///home/conda/feedstock_root/build_artifacts/edflib-python_1642240653521/work
eeglabio @ file:///home/conda/feedstock_root/build_artifacts/eeglabio_1650978352221/work
entrypoints==0.4
executing==0.10.0
fastjsonschema==2.16.1
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1651018001541/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1653010523205/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1649010196719/work
geomloss==0.2.5
gitdb==4.0.9
GitPython==3.1.29
h5io @ file:///home/conda/feedstock_root/build_artifacts/h5io_1642481976949/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964070496/work
HeapDict==1.0.1
holoviews==1.14.9
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1655137915064/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1654071881944/work
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1649960641006/work
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipycanvas @ file:///home/conda/feedstock_root/build_artifacts/ipycanvas_1652722008714/work
ipyevents @ file:///home/conda/feedstock_root/build_artifacts/ipyevents_1626379632791/work
ipykernel==6.15.1
ipython==8.4.0
ipython-autotime==0.3.1
ipython-genutils==0.2.0
ipyvtklink @ file:///home/conda/feedstock_root/build_artifacts/ipyvtklink_1641897411487/work
ipywidgets==8.0.1
jedi==0.18.1
Jinja2==3.1.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5==0.9.8
jsonschema==4.14.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.17.1
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==3.0.2
keopscore==2.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1655141690561/work
llvmlite==0.38.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
loguru @ file:///Users/runner/miniforge3/conda-bld/loguru_1649442925706/work
lxml==4.9.1
Mako==1.2.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1651609723747/work
matplotlib-inline==0.1.6
mffpy @ file:///home/conda/feedstock_root/build_artifacts/mffpy_1653715512844/work
mistune==2.0.4
mne @ file:///home/conda/feedstock_root/build_artifacts/mne-python_1653381557202/work
mne-qt-browser @ file:///Users/runner/miniforge3/conda-bld/mne-qt-browser_1653411523758/work
msgpack==1.0.4
multipledispatch==0.6.0
munkres==1.1.4
nbclassic==0.3.7
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nbstripout==0.6.1
nest-asyncio==1.5.5
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1654375205989/work
nibabel @ file:///home/conda/feedstock_root/build_artifacts/nibabel_1644264968592/work
nilearn @ file:///home/conda/feedstock_root/build_artifacts/nilearn_1649873552396/work
notebook==6.4.12
notebook-shim==0.1.0
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1652226654139/work
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1649637061517/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1649806356124/work
osqp @ file:///Users/runner/miniforge3/conda-bld/osqp_1636447490981/work
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
panel==0.13.1
param==1.12.1
parso==0.8.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1653922906427/work
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
plotly==5.11.0
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.3
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.0
pybind11==2.9.2
pycparser==2.21
pyct==0.4.8
pydeck==0.8.0b4
pydicom @ file:///home/conda/feedstock_root/build_artifacts/pydicom_1648584438356/work
Pygments==2.13.0
pykeops==2.1
pymatreader @ file:///home/conda/feedstock_root/build_artifacts/pymatreader_1648728548181/work
Pympler==1.0.1
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1652648933546/work
pyopencl==2022.1.6
PyOpenGL @ file:///home/conda/feedstock_root/build_artifacts/pyopengl_1652285526610/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.9
PyQt5-sip==12.9.0
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1646439776350/work
PyRQA==8.0.0
pyrsistent==0.18.1
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857342405/work
python-dateutil==2.8.2
python-picard @ file:///home/conda/feedstock_root/build_artifacts/python-picard_1634751290466/work
pytools==2022.1.12
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
pytz-deprecation-shim==0.1.0.post0
pyvista @ file:///home/conda/feedstock_root/build_artifacts/pyvista_1650056792281/work
pyvistaqt @ file:///home/conda/feedstock_root/build_artifacts/pyvistaqt_1649300839527/work
pyviz-comms==2.2.0
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1649616478789/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1648757198437/work
pyzmq==23.2.1
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1654095878638/work
qdldl @ file:///Users/runner/miniforge3/conda-bld/qdldl-python_1636438935138/work
qtconsole==5.3.1
QtPy==2.2.0
rcr==2.4.7
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1654796491502/work
rich==12.6.0
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1645196796820/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1652976912267/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1653074167280/work
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1646247900691/work
scs @ file:///Users/runner/miniforge3/conda-bld/scs_1645488422176/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
semver==2.13.0
Send2Trash==1.8.0
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1646101242274/work
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stack-data==0.4.0
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1654787212088/work
streamlit==1.14.0
tables @ file:///Users/runner/miniforge3/conda-bld/pytables_1643135988095/work
tblib==1.7.0
tenacity==8.1.0
terminado==0.15.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1651666912743/work
tinycss2==1.1.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch==1.13.0.dev20220614
torch-cluster==1.6.0
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.15
torch-spline-conv==1.2.1
torchaudio==0.14.0.dev20220603
torchvision==0.14.0.dev20220614
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets==5.3.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650370875435/work
tzdata==2022.6
tzlocal==4.2
umap-learn @ file:///Users/runner/miniforge3/conda-bld/umap-learn_1649908220723/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111980161/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
validators==0.20.0
vtk==9.1.0
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
widgetsnbextension==4.0.2
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1651495340490/work
xarray==2022.3.0
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
xmltodict @ file:///home/conda/feedstock_root/build_artifacts/xmltodict_1652020822199/work
zict==2.2.0
zipp==3.8.1
